:root {
  --garamond: 'EB Garamond', serif;
}
html {
  /* font-family: trad; */
  font-size: 14px;
  color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--garamond);
  text-align: center;
  line-height: 1.4;
}

.navbar-first {
  color: #fff;
  /* text-decoration: none; */
}

.navbar-first a {
  color: #fff;
  /* text-decoration: none; */
}

.dropbtn {
  background-color:transparent;
  color: #000000;
  /* padding: 0.63rem; */
  /* font-size: 0.63rem; */
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.flex {
  display: flex;
  text-align: left;
}

.width {
  width: 28.6rem;
}

.fierce {
  width: 7.14rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  /* min-width: 11.42rem; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.86rem 1.14rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  text-decoration: underline;
}

.btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 1rem 4rem;
}

.btn:hover {
  background: #ffffff;
  color: #7b1819;
}

.usa-flag {
  width: 1.5rem;
}

.far,
.fas {
  font-size: 1.5rem;
}

.hid-gift-guide {
  display: none;
}

.hid-about-us {
  display: none;
}

.card-img-overlay {
  padding-top: 20rem;
}

.card-img-overlay h1 {
  font-size: 5rem;
}

.card-img-overlay p {
  font-size: 2rem;
}

.best-dressed-img {
  width: 20rem;
}



@media only screen and (max-width: 367px) { ... }
/* font size */

@media only screen and (min-width: 768px) { ... }
/* background pictures */

@media only screen and (min-width: 971px) { ... }
/* font size */

@media only screen and (min-width: 1025px) { ... }
/* navbar & footer */

@media only screen and (min-width: 1071px) { ... }
/* font size */

@media only screen and (min-width: 1103px) {
    .hid-gift-guide{
  display: block;
}
}
/* feature gift guide */

@media only screen and (min-width: 1191px) {
  .hid-about-us {
    display: block;
  }
}
/* About Us*/


@media only screen and (min-width: 1270px) { ... }
/* font size */